
<div class="row rhover" 
    hx-get="/views/chart_data" 
    hx-trigger="click once"
    hx-target=".chart-container" 
    hx-vals='{"ticker": "{{ row.ticker }}"}'
>
    <div class="rdata">{{ ts_to_datestr(row.timestamp) }}</div>
    <div class="rdata">{{ row.ticker }}</div>
    <div class="rdata">{{ round(row.sroc)}}</div>
    <div class="rdata">
        <button class="btn {{'btnown' if row.own }}" 
            hx-put="/views/set_own/{{ row.ticker }}" 
            hx-target="closest .rhover"
            hx-swap="outerHTML">
            Own
        </button>
    </div>
</div>
